@font-face {
    font-family: "Overwave";
    src: url(Overwave.ttf);
}
@font-face {
    font-family: "WavePath";
    src: url(WavePath.ttf);
}
@font-face {
    font-family: "CuteDino";
    src: url(CuteDino.ttf);
}


header {
   /* background-image: url(fondo1.jpg);*/
    background-position: center;
    padding: 50px;
    background-size:contain;
    background-repeat: repeat;
    background-color:#91ebf3 ;
    
}
.container3 {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);

}
.t {
    display:inline;
    text-align: center;
    font-size: 250%;
    padding: 1.5em;
    color:#0f5e9c;
    font-family: "Overwave";
}
.Logo {
    text-align: left;
}
body {
    background-color: #0f5e9c;
    color:white;
    /*background-image: url(fondoheader.jpg);*/
    background-size: cover;
}
  .container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #0cc0ab63;
    text-align: center;

  }
.t2 {
    text-align: center;
    color:black;
    font-size: 50px;
    margin-top: 50px;
    font-family: "WavePath";
}
p {
    color:black;
    text-align: center;
    font-size:x-large;
    font-family: "CuteDino";
    font-weight: 10;
}


img {
  display: block;
  max-width: 200%;
}

.wrapper {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;

  @media screen and (min-width: $large) {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
  }
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;

  @media screen and (min-width: $large) {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;

  @media screen and (min-width: $large) {
    min-width: auto;
    min-height: 100vh;
  }
}

.lil-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  grid-row-start: 2;

  @media screen and (min-width: $large) {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    grid-row-start: auto;
  }

  a {
    display: flex;
    min-width: 45vw;
    margin-right: 10px;

    @media screen and (min-width: $large) {
      margin-bottom: 10px;
      min-height: 200px;
      min-width: 100%;
    }
  }
}

.lil-nav__img {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;

  &:hover {
    transform: scale(1.05);
    filter: saturate(1);
  }
}